<div class="row justify-content-center">
    <div class="col-md-4">
        <form class="form clearfix">
            <div class="form-group">
                <label for="email" class="col-form-label required">Email</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Your Email" required="">
            </div>
            <!--end form-group-->
            <div class="form-group">
                <label for="password" class="col-form-label required">Mật khẩu</label>
                <input name="password" type="password" class="form-control" id="password" placeholder="Password" required="">
            </div>
            <!--end form-group-->
            <div class="d-flex justify-content-between align-items-baseline">
                <label>
                    <input type="checkbox" name="remember" value="1">
                    Ghi nhó
                </label>
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </div>
        </form>
        <hr>
        <p>
            Có vấn đề khi đăng nhập? <a href="#" class="link">Click here.</a>
        </p>
    </div>
    <!--end col-md-6-->
</div>
